/*
 Copyright 2008 (C) Nicira,

 This file is part of NOX.

 NOX is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 NOX is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with NOX.  If not, see <http://www.gnu.org/licenses/>.
 */


div#invalid-switch-error {
	width: 45%;
	background: #FFF url("/static/nox.ext.apps.coreui/coreui/images/dotRed.png") no-repeat 3px 50%;
	margin: 0 0 1.3em 0;
	padding: 6px 12px 6px 36px;
	border: 1px solid #FC5816;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}

div#monitor_content {
}

table.item-table {
    width: 99%;
}

#port-table {
	width: 99%;
}
table.item-table td.number,td.speed,td.rx-pkt,td.tx-pkt, td.interface {
    text-align: left;
    padding-left:1em;
}
