/*
 Copyright 2008 (C) Nicira,

 This file is part of NOX.

 NOX is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 NOX is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with NOX.  If not, see <http://www.gnu.org/licenses/>.
 */


table#dir_header_table { 
  width : 100%; 
} 

table#dir_header_table th {
    text-align: center; 
    font-weight : bold;
    border-bottom: 1px solid black;  
}

table#dir_header_table td { 
} 

/* these classes are both in 'dir_header_table' and 'dir_table' */ 
.dirname { 
    width: 30%;
} 
.dirtype { 
    width: 30%;
} 
.dirsearchorder { 
    width: 20%;
} 
.diredit { 
    width: 20%;
}

/* these are for entries that are only in the main 'dir_table' */ 
.dirmove { 
    text-align: center; 
    width: 10%; 
} 
.dirconfigure { 
    text-align: center; 
    width: 10%; 
} 
.dirdelete { 
    text-align: center; 
    width: 10%; 
} 



table#switchinfo td.port_cnt {
    text-align: right;
}

table#switchinfo td.rx_pkts {
    text-align: right;
}

table#switchinfo td.tx_pkts {
    text-align: right;
}

table#switchinfo td.drop_pkts {
    text-align: right;
}

td.required {
    font-weight: bold;
}

