table#quicksetup-groups {
    margin-top: 12pt;
}

table#quicksetup-groups tr {
    background: #FFFFFF url(/static/nox/webapps/coreui/coreui/images/statusHeaderBg.png) repeat-x scroll left bottom;
    border: 1px solid #DADDDE;
}
