<div class="dijitTooltip dijitTooltipLeft" id="noxProgressTooltip">
	<div class="dijitTooltipContainer dijitTooltipContents" dojoAttachPoint="containerNode" waiRole='alert'>
		<div class="loading">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td><span class="progressMessage">${loadingMessage}</span></td>
					<td><div class="progressBar" style="width: 100px;" dojoType="dijit.ProgressBar" dojoAttachPoint="progress"></div></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="dijitTooltipConnector"></div>
</div>
